/*i-button*/
//var
$prefix_button:'i-button';
$typeList:'default,primary,success,warning,danger,info,disabled';

$button_border_radius:$border_radius_normal !default;
$button_font_size:14px;
$button_padding_vertical:10px;
$button_padding_horizontal:15px;
$button_space:10px;
//default
.i-button{
    display: inline-block;
    font-size: $button_font_size;
    padding:$button_padding_vertical $button_padding_horizontal;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    border: $border_base;
    background: $white;
    color: $black;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border-radius:$border_radius_normal;
    margin: 0;
    & + .i-button {
      margin-left: $button_space;
    }
    @include user-select;
}
//sizeMap: font-size,padding_vertical,padding_horizontal
$buttonSizeMap:(
    larger:$button_font_size + 2 $button_padding_vertical + 1 $button_padding_horizontal + 4 ,
    samll:$button_font_size - 2  $button_padding_vertical - 3  $button_padding_horizontal - 6 ,
    mini:$button_font_size - 2   $button_padding_vertical - 6 $button_padding_horizontal - 11 ,
);
@include creatButtonSize($prefix_button,$buttonSizeMap);


//colorMap:border-color,color,background
    // default:#c4c4c4 $black  $white,
$buttonColorMap:(
    primary:$primary $white $primary,
    success:$success $white $success,
    warning:$warning $white $warning,
    danger:$danger $white $danger,
    info:$info $white $info,
    disabled:$disable_border $silver_light $silver_lighter
);
@include creatButtonColor($prefix_button,$buttonColorMap);



