@charset "UTF-8";

/*i-col*/
$prefix_col:'i-col'; //前缀
$colNum:24;  //总列数
//屏幕宽度
$screenSizeMap:(
    xs:768px,
    sm:768px,
    md:992px,
    lg:1200px
);

//浮动
@include floatCol;
//
@include creatCol;
//媒体查询
@include media_col($screenSizeMap);

