//mixins

@mixin creatButtonSize($prefix_button,$sizeMap){
    @each $size,$value in $sizeMap {
        .#{$prefix_button}-#{$size} {
            font-size:nth($value,1);
            padding:nth($value,2) nth($value,3);
        }
    }
}

@mixin creatButtonColor($prefix_button,$colorMap){
    @each $color,$value in $colorMap {
        .#{$prefix_button}-#{$color} {
            border-color:nth($value,1);
            color:nth($value,2);
            background-color:nth($value,3);
        }
    }
}