
@font-face {font-family: "ivu-icon";
  src: url('iconfont.eot?t=1499151224887'); /* IE9*/
  src: url('iconfont.eot?t=1499151224887#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499151224887') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499151224887') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499151224887#ivu-icon') format('svg'); /* iOS 4.1- */
}

.ivu-icon {
  font-family:"ivu-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ivu-disanfangweibo:before { content: "\e72b"; }

.ivu-weibiaoti--:before { content: "\e72d"; }

