@charset "UTF-8";

// var
$transition_all: all .3s cubic-bezier(.645,.045,.355,1);
$transition_fade: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
$transition_fade_linear:opacity 200ms linear;
$transition_fade_md: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
$transition_border_base: border-color .2s cubic-bezier(.645,.045,.355,1);
$transition_color_base: color .2s cubic-bezier(.645,.045,.355,1);

/*transition*/
.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  transition: $transition_fade_linear;
}
.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active {
  opacity: 0;
}

.i-fade-in-linear-enter-active,
.i-fade-in-linear-leave-active {
  transition: $transition_fade_linear;
}
.i-fade-in-linear-enter,
.i-fade-in-linear-leave,
.i-fade-in-linear-leave-active {
  opacity: 0;
}

.i-fade-in-enter-active,
.i-fade-in-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.i-fade-in-enter,
.i-fade-in-leave-active {
  opacity: 0;
}

.i-zoom-in-center-enter-active,
.i-zoom-in-center-leave-active {
  transition: all .3s cubic-bezier(.55,0,.1,1);
}
.i-zoom-in-center-enter,
.i-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.i-zoom-in-top-enter-active,
.i-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $transition_fade_md;
  transform-origin: center top;
}
.i-zoom-in-top-enter,
.i-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.i-zoom-in-bottom-enter-active,
.i-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: $transition_fade_md;
  transform-origin: center bottom;
}
.i-zoom-in-bottom-enter,
.i-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}

.i-list-enter-active,
.i-list-leave-active {
  transition: all 1s;
}
.i-list-enter, .i-list-leave-active {
  opacity: 0;
  transform: translateY(-30px);
}