
// colors************************************
// 主色调-------------------------------
// $base-color
$primary: #20a0ff !default;
$primary_light:lighten($primary,8%) !default;
$primary_dark:darken($primary,15%) !default;

//辅助色-------------------------------
$success: #13ce66 !default;
$warning: #f7ba2a !default;
$danger: #ff4949 !default;
$info: #50bfff !default;

//黑.白.灰色系-------------------------
$black:#222 !default;
$black_light:lighten($black,15%) !default;
$black_lighter:lighten($black,30%) !default;

$silver:#8492a6 !default;
$silver_light:lighten($silver,10%) !default;
$silver_lighter:lighten($silver,30%) !default;


$white:#fff !default;
$white_drak:darken($white,15%) !default;

$gray:#D3DCE6 !default;
$gray_light:lighten($gray,5%) !default;
$gray_lighter:lighten($gray,10%) !default;

//link****************************************
$link:$black_light !default;
$link_hover:$primary !default;

// border*************************************
$border_width:1px !default;
$border_style:solid !default;
$border_color:$gray_light !default;
$border_base:$border_width $border_style $border_color !default;
$border_hover:$gray !default;

$border_radius_normal:4px !default;
$border_radius_small:2px !default;
$border_radius_circle:50% !default;

//font*****************************************
$font_size:14px !default;
$font_color:$black !default;
$font_disabled:#bbb !default;

//bg**********************************************
$bg_bace:$white !default;

//disable
$disable_bg:$gray_lighter !default;
$disable_color:#bbb !default;
$disable_border:$gray !default;
